@page "/search"
@inherits ComponentBase
@implements IDisposable

@attribute [Authorize(Roles = Roles.User)]

<PageTitle>Blogs</PageTitle>

<Carousel @bind-SelectedSlide="@(_selectedBlogCategory)">
    @for (var i = 0; i <= _blogCategories.Count; i++)
    {
        <CarouselSlide Name = i>

        <Span> _blogCategories[i] </Span>

        </CarouselSlide>
    }
</Carousel>
<div class="d-flex flex-row p-5 flex-wrap w-100">
    @foreach (var blog in _blogs)
    {
        <div class="blog-card">
            <BlogCard Item="@blog" ItemClicked="@BlogClickedAsync"></BlogCard>
        </div>
    }
</div>
