@page "/about"

<PageTitle>About us</PageTitle>

<Div Flex="Flex.Row">
    <Image Height="@Height.Px(674)" Width="@Width.Px(684)" Source="/images/about-background.jpg" Class="object-fit-cover"></Image>
    <Div Flex="Flex.Column" Margin="Margin.Is3" Padding="Padding.Is4.FromTop">
        <div class="d-flex flex-row gap-3">
            <div class="bg-danger" style="height: 50px; width: 5px;"></div>
            <h1 class="fw-bold">About Us!</h1>
        </div>
        <Paragraph TextSize="TextSize.ExtraLarge">
            Welcome to Your Blog, your go-to destination for engaging and insightful content across a variety of topics. Our team of passionate writers and experts is dedicated to bringing you fresh perspectives, in-depth analyses, and practical tips to enrich your daily life. Whether you're here for the latest trends, personal growth advice, tech updates, or lifestyle hacks, Your Blog offers a diverse array of articles to inspire and inform. Join our growing community of readers who share a love for knowledge, creativity, and continuous learning. Thank you for being a part of our journey!
        </Paragraph>
        <h2 class="fw-bold">Team:</h2>
        <Paragraph TextSize="TextSize.ExtraLarge">
            [your-name]
        </Paragraph>
    </Div>
</Div>