@page "/about"

<PageTitle>About us</PageTitle>

<Div Flex="Flex.Row">
    <Image Height="@Height.Px(674)" Width="@Width.Px(684)" Source="/images/about-background.jpg" Class="object-fit-cover"></Image>
    <Div Flex="Flex.Column" Margin="Margin.Is3" Padding="Padding.Is4.FromTop">
        <div class="d-flex flex-row gap-3">
            <div class="bg-danger" style="height: 50px; width: 5px;"></div>
            <h1 class="fw-bold">About Us!</h1>
        </div>
        <Paragraph TextSize="TextSize.ExtraLarge">
            Bine ați venit pe Your Blog, destinația dvs. de preferat pentru conținut captivant și perspicace pe o varietate de subiecte. Echipa noastră de scriitori și experți pasionați este dedicată să vă aducă perspective noi, analize aprofundate și sfaturi practice pentru a vă îmbogăți viața de zi cu zi. Indiferent dacă sunteți aici pentru cele mai recente tendințe, sfaturi de creștere personală, actualizări tehnice sau hack-uri de stil de viață, Your Blog oferă o gamă variată de articole pentru a inspira și informa. Alăturați-vă comunității noastre în creștere de cititori care împărtășesc dragostea pentru cunoaștere, creativitate și învățare continuă. Vă mulțumim că faceți parte din călătoria noastră!
        </Paragraph>
        <h2 class="fw-bold">Team:</h2>
        <Paragraph TextSize="TextSize.ExtraLarge">
            Stoentel Alexandru-Eduard
        </Paragraph>
    </Div>
</Div>