@page "/faq"

<PageTitle>FAQ</PageTitle>

<Div Flex="Flex.Row">
    <Div Flex="Flex.Column" Margin="Margin.Is3" Padding="Padding.Is4.FromTop">
        <div class="d-flex flex-row gap-3">
            <div class="bg-danger" style="height: 50px; width: 5px;"></div>
            <h1 class="fw-bold">Intrebări frecvente</h1>
        </div>
        <Paragraph TextSize="TextSize.ExtraLarge">
            <span class="fw-bold">1. Ce este este Blogul Tău?</span>
            <p>Blogul Tău este o platformă de blogging care oferă conținut captivant și perspicace pe o varietate de subiecte, inclusiv cele mai recente tendințe, sfaturi de dezvoltare personală, actualizări tehnice și hack-uri privind stilul de viață.</p>

            <span class="fw-bold">2. Cum îmi pot crea un cont?</span>
            <p>Pentru a crea un cont, faceți clic pe butonul „Register” din colțul din dreapta sus al paginii de pornire. Completați informațiile necesare, inclusiv numele dvs., adresa de e-mail și o parolă.</p>

            <span class="fw-bold">3. Cum pot scrie o postare?</span>
            <p>Pentru scrie o postare, faceți clic pe butonul „Write” și completați toate informațiile.</p>

            <span class="fw-bold">4. Cum raportez conținut neadecvat?</span>
            <p>Dacă întâlniți orice conținut despre care credeți că încalcă termenii și condițiile noastre sau este inadecvat, vă rugăm să ni-l raportați făcând trimițându-ne un e-mail la your-blog@blog.ro cu detaliile problemei.</p>

            <span class="fw-bold">5. Pot face publicitate pe Blogul Tău?</span>
            <p>Da, oferim diverse oportunități de publicitate pe Blogul Tău Pentru mai multe informații despre opțiunile noastre de publicitate, vă rugăm să contactați echipa noastră de publicitate la your-blog@blog.ro.</p>

            <span class="fw-bold">6. Cum îmi pot actualiza informațiile contului?</span>
            <p>Pentru a vă actualiza informațiile contului, conectați-vă la contul dvs. și accesați pagina „Profile”. Aici puteți să vă actualizați informațiile personale, să vă schimbați parola și să vă actualizați imaginea de profil.</p>

            <span class="fw-bold">7. Cum pot șterge o postare?</span>
            <p>Puteți șterge doar postările create de dvs. Dacă doriți să ștergeți o astfel de postare, faceți click pe aceasta și în colțul din stânga sus veți găsi un buton de ștergere.</p>

            <p>Dacă aveți alte întrebări care nu sunt acoperite aici, nu ezitați să ne contactați la your-blog@blog.ro.</p>

            <p>Vă mulțumim că ați vizitat Blogul Tău!</p>
        </Paragraph>
    </Div>
</Div>