@page "/privacy-policy"

<PageTitle>Privacy Policy</PageTitle>

<div class="p-5">
    <div class="d-flex flex-row gap-3">
        <div class="bg-danger" style="height: 50px; width: 5px;"></div>
        <h1 class="fw-bold">Politica de confidențialitate</h1>
    </div>

    <p><strong>Data intrării în vigoare:</strong> 26/05/2024</p>

    <h2>1. Introducere</h2>
    <p>Bine ați venit pe Your Blog Apreciem confidențialitatea dumneavoastră și ne angajăm să vă protejăm informațiile personale. Această Politică de confidențialitate explică modul în care colectăm, folosim, dezvăluim și protejăm informațiile dvs. atunci când vizitați aplicația noastră de blog („Aplicația”).</p>

    <h2>2. Informații pe care le colectăm</h2>
    <p>Putem colecta informații despre dvs. într-o varietate de moduri. Informațiile pe care le putem colecta prin intermediul aplicației includ:</p>

    <h3>Date personale</h3>
    <p>Informații de identificare personală, cum ar fi numele, adresa de e-mail și orice alte informații pe care ni le oferiți în mod voluntar atunci când vă înregistrați în aplicație sau când alegeți să participați la diferite activități legate de aplicație, cum ar fi comentarea articolelor sau abonarea la buletine informative .</p>

    <h3>Date derivate</h3>
    <p>Informații colectate automat de serverele noastre atunci când accesați aplicația, cum ar fi adresa dvs. IP, tipul de browser, sistemul de operare, timpii de acces și paginile pe care le-ați vizualizat direct înainte și după accesarea aplicației.</p>

    <h3>Date dispozitiv mobil</h3>
    <p>Informații despre dispozitiv, cum ar fi ID-ul dispozitivului mobil, modelul și producătorul, precum și informații despre locația dispozitivului dvs. dacă accesați aplicația printr-un dispozitiv mobil.</p>

    <h2>3. Utilizarea informațiilor dvs</h2>
    <p>Folosim informațiile pe care le colectăm în următoarele moduri:</p>
    <ul>
        <li>Pentru a furniza, opera și întreține aplicația.</li>
        <li>Pentru a îmbunătăți, personaliza și extinde aplicația noastră.</li>
        <li>Pentru a înțelege și analiza modul în care utilizați aplicația noastră.</li>
        <li>Pentru a dezvolta noi produse, servicii, caracteristici și funcționalități.</li>
        <li>Pentru a comunica cu dvs., fie direct, fie prin intermediul unuia dintre partenerii noștri, inclusiv pentru serviciul clienți, pentru a vă oferi actualizări și alte informații referitoare la aplicație și în scopuri de marketing și promoționale.</li>
        <li>Pentru a vă procesa tranzacțiile și a vă gestiona comenzile.</li>
        <li>Pentru a vă trimite mesaje text și notificări push.</li>
        <li>Pentru a găsi și a preveni frauda.</li>
        <li>Pentru a respecta obligațiile legale.</li>
    </ul>

    <h2>4. Partajarea informațiilor dvs.</h2>
    <p>Putem distribui informațiile pe care le colectăm despre dvs. în următoarele situații:</p>
    <ul>
        <li><strong>Cu furnizorii de servicii:</strong> putem partaja informațiile dvs. cu furnizori terți, furnizori de servicii, contractori sau agenți care prestează servicii pentru noi sau în numele nostru și necesită acces la astfel de informații pentru a face acest lucru. muncă. Exemplele includ analiza datelor, procesarea plăților, livrarea prin e-mail, servicii de găzduire, servicii pentru clienți și eforturi de marketing.</li>
        <li><strong>Pentru transferuri de afaceri:</strong> putem partaja sau transfera informațiile dvs. în legătură cu sau în timpul negocierilor cu privire la orice fuziune, vânzare de active ale companiei, finanțare sau achiziție a întregii sau a unei părți a afacerii noastre. la o altă companie.</li>
        <li><strong>Cu afiliații:</strong> este posibil să împărtășim informațiile dvs. cu afiliații noștri, caz în care le vom solicita acelor afiliați să respecte această Politică de confidențialitate. Afiliații includ compania noastră-mamă și orice filiale, parteneri de asociere în participație sau alte companii pe care le controlăm sau care se află sub control comun cu noi.</li>
        <li><strong>Cu partenerii de afaceri:</strong> este posibil să împărtășim informațiile dvs. cu partenerii noștri de afaceri pentru a vă oferi anumite produse, servicii sau promoții.</li>
        <li><strong>Cu consimțământul dvs.:</strong> putem dezvălui informațiile dvs. personale în orice alt scop, cu consimțământul dvs.</li>
    </ul>

    <h2>5. Securitatea informațiilor dvs.</h2>
    <p>Folosim măsuri administrative, tehnice și de securitate fizică pentru a vă proteja informațiile personale. Deși am luat măsuri rezonabile pentru a securiza informațiile personale pe care ni le furnizați, vă rugăm să fiți conștienți de faptul că, în ciuda eforturilor noastre, nicio măsură de securitate nu este perfectă sau impenetrabilă și nicio metodă de transmitere a datelor nu poate fi garantată împotriva oricărei interceptări sau alt tip de utilizare greșită. </p>

    <h2>6. Politica pentru copii</h2>
    <p>Nu solicităm cu bună știință informații de la copii cu vârsta sub 13 ani sau nu le comercializăm. Dacă aflăm că am colectat informații personale de la un copil sub 13 ani fără verificarea consimțământului părinților, vom șterge aceste informații cât mai repede posibil. . Dacă credeți că am putea avea informații de la sau despre un copil sub 13 ani, vă rugăm să ne contactați la [informații de contact].</p>

    <h2>7. Modificări ale acestei politici de confidențialitate</h2>
    <p>Putem actualiza această Politică de confidențialitate din când în când pentru a reflecta, de exemplu, modificări ale practicilor noastre sau din alte motive operaționale, legale sau de reglementare. Vă vom anunța cu privire la orice modificare prin publicarea noii Politici de confidențialitate în aplicația noastră. Sunteți sfătuit să revizuiți periodic această Politică de confidențialitate pentru orice modificări. Modificările aduse acestei Politici de confidențialitate sunt efective atunci când sunt postate pe această pagină.</p>

    <h2>8. Contactați-ne</h2>
    <p>Dacă aveți întrebări despre această politică de confidențialitate, vă rugăm să ne contactați la:</p>
    <p>
        Your Blog<br>
        Craiova, Romania<br>
        your-blog@blog.ro<br>
        0251020202
    </p>

    <p>Vă mulțumim că folosiți Your Blog</p>
</div>