@page "/terms-and-conditions"

<PageTitle>Terms&conditions</PageTitle>

<div class="p-5">
    <div class="d-flex flex-row gap-3">
        <div class="bg-danger" style="height: 50px; width: 5px;"></div>
        <h1 class="fw-bold">Termeni și condiții</h1>
    </div>

    <p><strong>Data intrării în vigoare:</strong> 25/05/2024</p>

    <h2>1. Introducere</h2>
    <p>Bine ați venit pe Blogul Tău Acești Termeni și Condiții („Termeni”) guvernează utilizarea de către dvs. a aplicației noastre de blog („Aplicația”). Prin accesarea sau utilizarea aplicației, sunteți de acord să respectați acești Termeni. Dacă nu sunteți de acord cu acești Termeni, vă rugăm să nu utilizați aplicația.</p>

    <h2>2. Utilizarea aplicației</h2>
    <p>Sunteți de acord să utilizați Aplicația numai în scopuri legale și într-un mod care să nu încalce drepturile, să nu restricționeze sau să împiedice utilizarea și bucuria de către altcineva a Aplicației. Comportamentele interzise includ hărțuirea sau provocarea de suferință sau neplăceri oricărui alt utilizator, transmiterea de conținut obscen sau ofensator sau perturbarea fluxului normal de dialog în cadrul aplicației.</p>

    <h2>3. Proprietatea intelectuală</h2>
    <p>Tot conținutul inclus în aplicație, cum ar fi textul, grafica, siglele, imaginile și software-ul, este proprietatea blogului dvs. sau a furnizorilor săi de conținut și este protejat de legile privind proprietatea intelectuală. Sunteți de acord să nu reproduceți, duplicați, copiați, vindeți, revindeți sau exploatați nicio parte a aplicației fără permisiunea scrisă expresă din partea noastră.</p>

    <h2>4. Conținut utilizator</h2>
    <p>Este posibil să puteți posta conținut în aplicație, cum ar fi comentarii, articole sau alte materiale („Conținutul utilizatorului”). Vă păstrați toate drepturile și sunteți singurul responsabil pentru Conținutul utilizatorului pe care îl postați în aplicație. Prin postarea Conținutului utilizatorului în aplicație, ne acordați o licență globală neexclusivă, fără drepturi de autor, transferabilă, sub-licențiabilă, pentru a utiliza, stoca, afișa, reproduce, modifica, crea lucrări derivate, executa și distribui conținutul dvs. de utilizator. în aplicație.</p>

    <h2>5. Activități interzise</h2>
    <p>În legătură cu utilizarea aplicației de către dvs., sunteți de acord să nu:</p>
    <ul>
        <li>Încălcarea oricărei legi sau reglementări locale, statale, naționale sau internaționale.</li>
        <li>Încălcarea drepturilor oricărei terțe părți, inclusiv, fără limitare, proprietatea intelectuală, confidențialitatea sau drepturile contractuale.</li>
        <li>Interfere sau perturbă aplicația sau serverele sau rețelele conectate la aplicație.</li>
        <li>Folosiți orice robot, păianjen, răzuitor sau alte mijloace automate pentru a accesa aplicația în orice scop, fără permisiunea noastră expresă în scris.</li>
    </ul>

    <h2>6. Încetarea</h2>
    <p>Putem rezilia sau suspenda accesul dumneavoastră la Aplicație imediat, fără notificare prealabilă sau răspundere, din orice motiv, inclusiv, fără limitare, dacă încălcați acești Termeni. La reziliere, dreptul dumneavoastră de a utiliza aplicația va înceta imediat.</p>

    <h2>7. Limitarea răspunderii</h2>
    <p>În niciun caz Blogul Tău și nici directorii, angajații, partenerii, agenții, furnizorii sau afiliații săi nu vor fi răspunzători pentru orice daune indirecte, incidentale, speciale, consecutive sau punitive, inclusiv, fără limitare, pierderi de profit, date. , utilizarea, fondul comercial sau alte pierderi intangibile, rezultate din (i) utilizarea sau incapacitatea dvs. de a utiliza Aplicația; (ii) orice acces neautorizat la sau utilizare a serverelor noastre și/sau orice informații personale stocate în acestea; (iii) orice întrerupere sau încetare a transmiterii către sau dinspre Aplicație; (iv) orice erori, viruși, cai troieni sau altele asemenea care pot fi transmise către sau prin intermediul aplicației noastre de către orice terță parte; (v) orice erori sau omisiuni în orice conținut sau pentru orice pierdere sau daune suferite ca urmare a utilizării oricărui conținut postat, trimis prin e-mail, transmis sau pus la dispoziție în alt mod prin intermediul aplicației; și/sau (vi) comportamentul defăimător, ofensator sau ilegal al oricărei terțe părți. În niciun caz Blogul Tău nu va fi responsabil pentru orice pretenții, daune sau pierderi care decurg din utilizarea de către dvs. a Aplicației sau a oricăror linkuri din Aplicație.</p>

    <h2>8. Legea aplicabilă</h2>
    <p>Acești Termeni vor fi guvernați și interpretați în conformitate cu legile din [Statul/Țara Dvs.], fără a ține cont de prevederile privind conflictul de legi.</p>

    <h2>9. Modificări ale acelor condiții</h2>
    <p>Ne rezervăm dreptul, la discreția noastră, de a modifica sau înlocui acești Termeni în orice moment. Dacă o revizuire este semnificativă, vom furniza o notificare cu cel puțin [30 de zile] înainte de intrarea în vigoare a oricăror termeni noi. Ceea ce constituie o schimbare materială va fi stabilit la discreția noastră. Continuând să accesați sau să utilizați aplicația noastră după ce aceste revizuiri intră în vigoare, sunteți de acord să respectați termenii revizuiți. Dacă nu sunteți de acord cu noile condiții, vă rugăm să nu mai utilizați aplicația.</p>

    <h2>10. Contactați-ne</h2>
    <p>Dacă aveți întrebări despre Termeni, vă rugăm să ne contactați la:</p>
    <p>
        Blogul Tău<br>
        Craiova, Romania<br>
        your-blog@blog.ro<br>
        0251020202
    </p>

    <p>Vă mulțumim pentru utilizare Blogul Tău.</p>
</div>