@page "/login"
@inherits ComponentBase
@implements IDisposable

<PageTitle>Login</PageTitle>

<div class="d-flex flex-row justify-content-between align-items-center p-5 fw-bold">
    <Form>
        <Field class="fs-4">
            Your blogging journey begins now!
        </Field>
        <Field>
            Don't you have an account yet? <Anchor To="/register">Create one!</Anchor>
        </Field>
        <Field>
            <FieldLabel>
                Username*
            </FieldLabel>
            <FieldBody>
                <TextEdit class="rounded-pill"
                          Placeholder="Enter your username here..."
                          Role="TextRole.Text"
                          @bind-Text="_loginModel.Username">
                </TextEdit>
            </FieldBody>
        </Field>
        <Field>
            <FieldLabel>
                Password*
            </FieldLabel>
            <FieldBody>
                <TextEdit class="rounded-pill"
                          Placeholder="Enter your password here..."
                          Role="TextRole.Password"
                          @bind-Text="_loginModel.Password"
                          autocomplete="new-password">
                </TextEdit>
            </FieldBody>
        </Field>

        <Field Class="d-flex justify-content-center mt-4">
            <Button
                Color="Color.Light"
                TextWeight="TextWeight.Bold"
                Clicked="@SignInAsync"
                TextColor="TextColor.Dark"
                TextSize="TextSize.ExtraLarge"
                Class="rounded-4">
                Login
            </Button>
        </Field>
    </Form>
    <Image Height="@Height.Px(359)" Width="@Width.Px(536)" Source="/images/register-background.jpg" Class="object-fit-cover"></Image>
</div>