<Div Flex="Flex.Row.JustifyContent.Between.AlignItems.Center" Height="@Height.Px(107)">
    <Div Flex="Flex.Column.JustifyContent.Center" Gap="Gap.Is3">
        <Div Flex="Flex.Row" Gap="Gap.Is5">
            <a href="#" class="text-light">Privacy Policy</a>
            <a href="#" class="text-light">Terms & Conditions</a>
        </Div>
        <Paragraph>© 2024 Your Blog Inc. All Rights Reserved.</Paragraph>
    </Div>
    <Div Flex="Flex.Row.JustifyContent.Between.AlignItems.Center" Gap="Gap.Is4">
        <span class="fs-4">Share our platform with the world!</span>
        <Div Flex="Flex.Row" Gap="Gap.Is2">
            <i class="bi bi-linkedin fs-4"></i>
            <i class="bi bi-facebook fs-4"></i>
            <i class="bi bi-instagram fs-4"></i>
        </Div>
    </Div>
</Div>