@inherits LayoutComponentBase

<PageTitle>Blogging</PageTitle>
<div class="bg-black text-light">
    <div class="container">
        <header>
            <NavMenu></NavMenu>
        </header>
        <div class="background-grey">
            @Body
        </div>
        <footer>
            <Footer></Footer>
        </footer>
    </div>
</div>
