<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Dark"
     ThemeContrast="ThemeContrast.Dark"
     TextWeight="TextWeight.Bold"
     TextColor="TextColor.Light">

    <BarBrand Margin="Margin.Is3.FromStart" TextSize="TextSize.Heading1">
        <BarLink To="/">Your Blog</BarLink>
    </BarBrand>
    <BarMenu Padding="Padding.Is4.FromTop" TextAlignment="TextAlignment.Center">
        <BarStart>
            <BarItem TextSize="TextSize.ExtraLarge">
                <BarLink To="/about">About</BarLink>
            </BarItem>
            <BarItem TextSize="TextSize.ExtraLarge">
                <BarLink To="/faq">FAQ</BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Button Color="Color.Light" TextWeight="TextWeight.Bold" TextColor="TextColor.Black50" TextSize="TextSize.Heading3" Class="rounded-4">Login</Button>
                <Button Color="Color.Light" TextWeight="TextWeight.Bold" TextColor="TextColor.Black50" TextSize="TextSize.Heading3" Class="rounded-4">Register</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>