@page "/"

<PageTitle>Home</PageTitle>

<Div Flex="Flex.Row">
    <Image Height="@Height.Px(674)" Width="@Width.Px(684)" Source="/images/home-background.jpg" Class="object-fit-cover"></Image>
    <Div Flex="Flex.Column" Margin="Margin.Is3" Padding="Padding.Is4.FromTop">
        <div class="d-flex flex-row gap-3">
            <div class="bg-danger" style="height: 50px; width: 5px;"></div>
            <h1 class="fw-bold">Bine ai venit pe Blogul Tău!</h1>
        </div>
        <Paragraph TextSize="TextSize.ExtraLarge">
            Aici gândurile tale găsesc o casă în domeniul digital! Platforma noastră prietenoasă vă permite să creați, să personalizați și să împărtășiți cu toată lumea perspectivele dvs. unice fără efort. Cu o interfață intuitivă, instrumente de editare robuste și o integrare perfectă a rețelelor sociale, Blogul tău asigură că vocea ta rezonează în peisajul online.
        </Paragraph>
        <Paragraph TextSize="TextSize.ExtraLarge">
            Alăturați-vă comunității noastre vibrante de scriitori, gânditori și povestitori și lăsați Blogul Tău să fie pânza pentru exprimarea dvs. digitală. Începeți să vă creați narațiunea astăzi și faceți din Blogul Tău destinația de destinație pentru conținut perspicace.
        </Paragraph>
    </Div>
</Div>