@page "/"

<PageTitle>Home</PageTitle>

<Div Flex="Flex.Row">
    <Image Height="@Height.Px(674)" Width="@Width.Px(684)" Source="/images/home-background.jpg" Class="object-fit-cover"></Image>
    <Div Flex="Flex.Column" Margin="Margin.Is3" Padding="Padding.Is4.FromTop">
        <div class="d-flex flex-row gap-3">
            <div class="bg-danger" style="height: 50px; width: 5px;"></div>
            <h1 class="fw-bold">Welcome to Your Blog!</h1>
        </div>
        <Paragraph TextSize="TextSize.ExtraLarge">
            Here your thoughts find a home in the digital realm! Our user-friendly platform empowers you to effortlessly create, customize, and share your unique perspectives with the world. With an intuitive interface, robust editing tools, and seamless social media integration, Your Blog ensures that your voice resonates across the online landscape.
        </Paragraph>
        <Paragraph TextSize="TextSize.ExtraLarge">
            Join our vibrant community of writers, thinkers, and storytellers, and let Your Blog be the canvas for your digital expression. Start crafting your narrative today and make Your Blog the go-to destination for insightful content.
        </Paragraph>
    </Div>
</Div>